/* fuente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;0,800;1,400;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/* Reset */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
header> .bg-primary{
    background-color: #23232a !important;
}
.nav-link{
    color: white!important;
    border-bottom: 3px solid transparent;
}
.nav-link:hover{
    color: #1ee984;
    border-bottom: 3px solid #1ee984;
}
.nav-item{
    padding: 0 30px;
}
#presentacion{
    background-image: url(../images/presentacion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
#presentacion> .bg-black{
    --bs-bg-opacity: 0.7;
}
#presentacion img{
    width: 30%;
}
#proyecto> .row> .ProyectoCarta{
    padding-left: 0;
    padding-right: 0;
}
.proyecto_imagen{
    position: relative;
    border: 1px solid #23232a;
}
.overlay{
    background-color: #1ee984;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: .6s ease;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.proyecto_imagen:hover .overlay{
    height: 100%;
}
.skills> .progress{
    --bs-progress-height: 3rem;
    --bs-progress-bar-bg: #1ee984;
    border: 2px solid #23232a;
    border-radius: 0;
}
.skills> .progress> span{
    text-shadow: 1px black;
}
#contacto{
    background-image: url(../images/contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
#contacto> .bg-black{
    --bs-bg-opacity: 0.8;
}
#contacto .btn-primary, #sobre_mi .btn-primary, #proyecto .btn-primary {
    border-radius: 0;
    background-color: #1ee984;
    border: 2px solid #1ee984;
    color :#23232a;
}
#contacto .btn-primary:hover, #sobre_mi .btn-primary:hover, #proyecto .btn-primary:hover{
    border-radius: 0;
    background-color: #23232a;
    border: 2px solid #1ee984;
    color :#1ee984;
}
.form-control {
    border-radius: 0 !important;
}
.form-control:focus{
    border: 2px solid #1ee984!important;
}
footer{
    background-color: #23232a;
}
footer .logo{
    padding: 15px;
}
.redes> ul{
    margin-bottom: 0;
}
.redes ul li a{
    text-decoration: none;
    color:white;
    font-size: 2.5em;
}
.redes ul li a:hover{
    text-decoration: none;
    color:#1ee984;
}
footer p{
    margin-bottom:0 ;
    font-size: 0.8rem;
}