/* fuente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;0,800;1,400;1,700&display=swap');
/* Reset */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/*
header {
    background-color: rgb(21, 22, 31);
    font-size: 0rem;
}
#logo{ 
    font-size: 1rem;
    width: 15%;
    display: inline-block;
    vertical-align:middle;
 }
 #logo img{
    padding: 15px 40px;
 }
header nav{
    width: 85%;
    display: inline-block;
    font-size: 1rem;
}
nav ul{
    text-align: right;
    margin: 0 85px 0 0;
    vertical-align:middle;
}
nav ul li {
    list-style: none;
    margin: 0px 20px;
    display: inline-block;
}
nav ul li a{
    padding:15px;
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    text-decoration: none;
    color: #1ee984;
    border-top: 5px solid #1ee984;
}
#presentacion{
    font-size: 1rem;
    margin: 0 auto;
    background-image: url(../images/presentacion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    min-height: 700px;
    text-align: center;
}
#presentacion h1,#presentacion p{
    padding: 20px 0;
    color:white;
}
#presentacion h1{
    font-size: 2rem;
}
#presentacion div img{
    width: 20%;
    margin: 70px auto;
}
.opacidad{
    width: 100%;
    min-height: 700px;
    background-color: rgba(0, 0, 0, 0.7);
}
#proyecto{
    width: 100%;
    font-size: 1rem;
}
.titulo{
    font-size: 1.8rem;
    text-align: center;
    padding: 30px;
    margin: 20px 0px;
    border-bottom: 3px solid #1ee984;
}
.titulo-blanco{
    font-size: 1.8rem;
    color: white;
    text-align: center;
    padding: 30px;
    border-bottom: 3px solid #1ee984;
}
.contenedor{
    font-size: 0rem;
    width: 90% ;
    margin: 50px auto;
}
.proyecto_imagen{
    font-size: 1rem;
    display: inline-block;
    width: 20%;
    margin: 20px 2.5%;
}
.proyecto_imagen img{
    width: 100%;
}
.proyecto_imagen h3, .proyecto_imagen p{
    padding: 5px;
    text-align: center;
}
.proyecto_imagen a{
    color: #051f36;
    display: block;
    width: 25%;
    margin: 5px auto;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}
.proyecto_imagen a:hover{
    color: #051f36;
    background-color: #1ee984;
    border: 1px solid #1ee984;
}
.ver-mas a{
    font-size: 1rem;
    color: #051f36;
    display: block;
    width: 20%;
    margin: 60px auto;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}
.ver-mas a:hover{
    color: #051f36;
    background-color: #1ee984;
    border: 1px solid #1ee984;
}
#sobre_mi{
    display: inline-block;
    width: 100%;
}
.parrafo{
    display: inline-block;
    width: 60%;
    font-size: 1rem;
}
.parrafo p{
    padding: 50px;
}
.skills{
    font-size: 1rem;
    display: inline-block;
    width: 40%;
}
.foto{
    display: inline-block;
    width: 30%;
    font-size: 1rem;
    background-color: #051f36;
    border-radius: 40px;
}
.foto img{
    display: block;
    width: 80%;
    margin: 0 auto;
}
.competencias{
    display: inline-block;
    width: 60%;
    font-size: 1rem;
}
.barra {
    height: 30px;
    width: 100%;
    border: 1px solid #051f36;
    border-radius: 5px;
    background-color: #e6f3fa;
    margin: 0 0 35px 0;
}
.progreso {
    height: 100%;
    background:#1ee984;
    align-items: center;
    border-radius: 5px;
}
.texto-barra{
    margin-left: 10px;
    font-weight: bold;
    color: #cce7f5;
}
.barra-1{
    width: 80%;
}
.barra-2{
    width: 85%;
}
.barra-3{
    width: 32%;
}
.competencia_imagen{
    font-size: 1rem;
    display: inline-block;
    width: 40%;
    margin: 20px 4%;
}
.competencia_imagen img{
    display: block;
    width: 40%;
    margin: 40px auto;
    border-radius: 360px;;
}
.competencia_imagen h3, .competencia_imagen p{
    padding: 5px;
    text-align: center;
}
#contacto{
    display: inline-block;
    width: 100%;
    background-image: url(../images/contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    min-height: 700px;
}
.formulario{
    display: block;
    width: 60%;
    margin:0 auto;
}
form{
    margin: 25px auto;
}
.formulario-padding{
    padding: 10px 0;
}
label{
    color: white;
	text-shadow: black 2px 2px;
    font-size: 1.2rem;
    padding: 8px 0;
}
.formulario-input{
	font-size: 20px;
    width: 100%;
    display: block;
    height: 35px;
    padding: 6px 12px;
    color: black;
    border: 2px solid #1ee984;
}
.formulario-input-msj{
    font-size: 20px;
    width: 100%;
    display: block;
    height: 120px;
    padding: 6px 12px;
    color: black;
    border: 1px solid #1ee984;
    margin-bottom: 5px ;
}
.enviar{
    float: right;
    color: #23232a;
    background-color: #1ee984;
    display: block;
    text-align: right;
    padding: 10px 20px;
    border: 1px solid #1ee984;
    margin: 20px 0;
    cursor: pointer;
}
.enviar:hover{
    color: white;
    background-color: #23232a;
    border: 1px solid #1ee984;
}
#detalle{
    display: inline-block;
    width: 100%;
}
.detalle_imagen{
    display: inline-block;
    width: 50%;
    font-size: 1rem;
}
.detalle_imagen img{
    width: 90%;
}
.detalle_parrafo{
    display: inline-block;
    width: 50%;
    font-size: 1rem;
}
footer{
    background-color: rgb(21, 22, 31);
    border-top: 5px solid #1ee984;
}
#copyright{
    color: white;
    text-align: center;
    padding: 15px 0;
}
*/
header> .bg-primary{
    background-color: rgb(21, 22, 31) !important;
}
.nav-link{
    color: white!important;
    border-top: 5px solid rgb(21, 22, 31) ;
}
.nav-link:hover{
    color: #1ee984;
    border-top: 5px solid #1ee984;
}
.nav-item{
    padding: 0 30px;
}
#presentacion{
    background-image: url(../images/presentacion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
#presentacion> .bg-black{
    --bs-bg-opacity: 0.5;
}
#proyecto> .row> .ProyectoCarta{
    padding-left: 0;
    padding-right: 0;
}
.ProyectoCarta> .card{
    border-radius: 0px;
}
.ProyectoCarta> .card> .card-img-overlay{
    border-radius: 0px;
    --bs-bg-opacity: 0.8;
}
