@charset "UTF-8";
/* Variables*/ /* Importacion de fuentes e iconos*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700;900&family=Montserrat:ital,wght@0,100;0,400;0,700;0,800;1,400;1,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/*reset y cambios globales*/
* {
  margin: 0;
  padding: 0;
}

h2, h3, h4, h5 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
}

p, span {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

div.row h2::before {
  content: "{";
  padding: 5px;
  color: #1ee984;
  font-weight: 300;
}
div.row h2::after {
  content: "}";
  padding: 5px;
  color: #1ee984;
  font-weight: 300;
}

/*Cambio bootstrap*/
.navbar-nav .nav-item {
  padding: 0 30px;
}
@media screen and (max-width: 576px) {
  .navbar-nav .nav-item {
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  .navbar-nav .nav-item {
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
.navbar-nav .nav-item a.nav-link {
  color: white !important;
  border-bottom: 3px solid #040414;
  transition: all 0.6s ease-in-out;
}
.navbar-nav .nav-item a.nav-link:hover {
  color: #1ee984 !important;
  border-bottom: 3px solid #1ee984;
}

@media screen and (max-width: 576px) {
  .bi-list {
    color: #1ee984;
    font-size: 2rem;
  }
}
@media screen and (max-width: 992px) {
  .bi-list {
    color: #1ee984;
    font-size: 2rem;
  }
}

header nav.navbar.bg-primary {
  background-color: #040414 !important;
}
@media screen and (max-width: 576px) {
  header nav.navbar.bg-primary div.containerfluid .navbar-toggler .bi-list {
    color: #1ee984;
    font-size: 2rem;
  }
}
header nav.navbar.bg-primary div.containerfluid div.collapse.navbar-collapse ul.navbar-nav li.nav-item {
  padding: 0 30px;
}
header nav.navbar.bg-primary div.containerfluid div.collapse.navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
  color: white !important;
  border-bottom: 3px solid #040414;
}
header nav.navbar.bg-primary div.containerfluid div.collapse.navbar-collapse ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #1ee984;
  border-bottom: 3px solid #1ee984;
}

/*Sección presentación*/
#presentacion {
  background-image: url(../images/presentacion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
#presentacion .bg-black {
  --bs-bg-opacity: 0.7;
}
#presentacion .bg-black img {
  width: 25%;
}
@media screen and (max-width: 576px) {
  #presentacion .bg-black img {
    width: 60%;
  }
}
#presentacion .bg-black div h1 {
  font-family: "Kanit", sans-serif;
  font-size: 3rem;
}
@media screen and (max-width: 576px) {
  #presentacion .bg-black div h1 {
    font-size: 2rem;
  }
}
#presentacion .bg-black div p {
  font-family: "Montserrat", sans-serif;
}

/*sección proyectos*/
Section#proyecto div.row div.ProyectoCarta {
  padding-left: 0;
  padding-right: 0;
}
Section#proyecto div.row div.ProyectoCarta div.proyecto_imagen {
  position: relative;
  border: 1px solid #040414;
}
@media screen and (max-width: 576px) {
  Section#proyecto div.row div.ProyectoCarta div.proyecto_imagen {
    margin: 20px;
  }
}
Section#proyecto div.row div.ProyectoCarta div.proyecto_imagen div.overlay {
  background-color: rgba(4, 4, 20, 0.8745098039);
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  transition: 0.6s ease;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
Section#proyecto div.row div.ProyectoCarta div.proyecto_imagen div.overlay h3 {
  font-size: 1.5rem;
}
Section#proyecto div.row div.ProyectoCarta div.proyecto_imagen div.overlay a.btn-primary {
  border-radius: 0;
  background-color: #1ee984;
  border: 2px solid #040414;
  color: #040414;
  transition: all 1s ease-in-out;
}
Section#proyecto div.row div.ProyectoCarta div.proyecto_imagen div.overlay a.btn-primary:hover {
  border-radius: 0;
  background-color: #040414;
  border: 2px solid #040414;
  color: #1ee984;
  transform: scale(1.1);
}
Section#proyecto div.row div.ProyectoCarta div.proyecto_imagen:hover .overlay {
  height: 100%;
}
Section#proyecto div.row div a.btn-primary {
  border-radius: 0;
  background-color: #1ee984;
  border: 2px solid #040414;
  color: #040414;
  transition: all 1s ease-in-out;
}
Section#proyecto div.row div a.btn-primary:hover {
  border-radius: 0;
  background-color: #040414;
  border: 2px solid #040414;
  color: #1ee984;
  transform: scale(1.1);
}

/*Sección sobre mi*/
#sobre_mi .row .skills .progress {
  --bs-progress-height: 3rem;
  --bs-progress-bar-bg: #1ee984;
  border: 2px solid #040414;
  border-radius: 0;
}
#sobre_mi .row .skills .progress .progress-bar span {
  color: #040414;
  font-weight: 700;
  font-size: 0.8rem;
}
#sobre_mi .row div a.btn-primary {
  border-radius: 0;
  background-color: #1ee984;
  border: 2px solid #040414;
  color: #040414;
  transition: all 1s ease-in-out;
}
#sobre_mi .row div a.btn-primary:hover {
  border-radius: 0;
  background-color: #040414;
  border: 2px solid #040414;
  color: #1ee984;
  transform: scale(1.1);
}

/*Sección Contacto*/
#contacto {
  background-image: url(../images/contacto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
#contacto div.bg-black {
  --bs-bg-opacity: 0.8;
}
#contacto div.bg-black .formulario form div .form-control {
  border-radius: 0 !important;
}
#contacto div.bg-black .formulario form div .form-control:focus {
  border: 2px solid #1ee984 !important;
}
#contacto div.bg-black .formulario form div button.btn-primary {
  transition: all 1s ease-in-out;
  border-radius: 0;
  background-color: #1ee984;
  border: 2px solid #040414;
  color: #040414;
}
#contacto div.bg-black .formulario form div button.btn-primary:hover {
  border-radius: 0;
  background-color: #040414;
  border: 2px solid #040414;
  color: #1ee984;
  transform: scale(1.1);
}

/*Página sobre mi*/
section#sobre_mi div.row div.PerfilRed div.FotoPerfil img {
  width: 50%;
}
section#sobre_mi div.row div.PerfilRed ul {
  list-style: none;
  margin-bottom: 0;
}
section#sobre_mi div.row div.PerfilRed ul li a {
  text-decoration: none;
  color: #040414;
  font-size: 2.5em;
  transition: all 1s ease-in-out;
}
section#sobre_mi div.row div.PerfilRed ul li a:hover {
  text-decoration: none;
  color: #1ee984;
  transform: scale(1.1);
}
section#sobre_mi div.row div.competencias {
  margin: 30px 0;
}
section#sobre_mi div.row div.competencias div.competencia_imagen {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
section#sobre_mi div.row div.competencias div.competencia_imagen img {
  width: 90%;
  transition: all 1s ease-in-out;
}
section#sobre_mi div.row div.competencias div.competencia_imagen img:hover {
  transform: scale(1.1);
}

/*Página detalles*/
section#detalle div.row div.detalle_parrafo ul {
  list-style: none;
  padding-left: 0;
}
section#detalle div.row div.detalle_parrafo ul li a span.text-bg-primary {
  background-color: #040414 !important;
}
section#detalle div.row div.detalle_parrafo ul li a:hover span.text-bg-primary {
  background-color: #1ee984 !important;
}
section#detalle div.row div.detalle_parrafo .ver-mas a.btn-primary {
  border-radius: 0;
  background-color: #1ee984;
  border: 2px solid #040414;
  color: #040414;
  margin: 20px 0;
  transition: all 1s ease-in-out;
}
section#detalle div.row div.detalle_parrafo .ver-mas a.btn-primary:hover {
  border-radius: 0;
  background-color: #040414;
  border: 2px solid #040414;
  color: #1ee984;
  transform: scale(1.1);
}

/*footer*/
footer {
  background-color: #040414;
}
footer div.logo {
  padding: 15px;
}
@media screen and (max-width: 576px) {
  footer div.logo div.logo_footer {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  footer div.logo div.logo_footer {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: initial;
    align-items: center;
  }
}
footer div.logo div.redes ul {
  list-style: none;
  margin-bottom: 0;
}
footer div.logo div.redes ul li a {
  text-decoration: none;
  color: white;
  font-size: 2.5em;
  transition: all 1s ease-in-out;
}
footer div.logo div.redes ul li a:hover {
  text-decoration: none;
  color: #1ee984;
  transform: scale(1.1);
}
footer div.copyright p {
  margin-bottom: 0;
  font-size: 0.8rem;
}

/*# sourceMappingURL=style.css.map */
