/*Sección Contacto*/
#contacto{
    background-image: url(../images/contacto.webp);
    @include BackImagen();
    div.bg-black{
        --bs-bg-opacity: 0.8;
        .formulario{
            form{
                div{
                    .form-control{
                        border-radius: 0 !important;
                        &:focus{
                            border: 2px solid $colorSecundario !important;
                        }
                    }
                }
                div{
                    button.btn-primary{
                        transition: all .6s ease-in-out ;
                        @include boton();
                            &:hover{
                                @include boton(0 ,$colorPrimario,2px solid $colorPrimario,$colorSecundario);
                                transform: scale(1.1);
                            }
                        }
                }

            }
        }
    }
}