/*footer*/
footer{
    background-color: $colorPrimario;
    div.logo{
        padding: 15px;
        div.logo_footer{
            @include mobile{
                padding: 20px 0px;
                @include flexbox(row,nowrap,center,center);
            }
            @include tablet{
                padding: 20px 0px;
                @include flexbox(row,nowrap,initial,center);
            }
        }
        div.redes{
            ul{
                list-style: none;
                margin-bottom: 0;
                li{
                    a{
                        text-decoration: none;
                        color:white;
                        font-size: 2.5em;
                        &:hover{
                            text-decoration: none;
                            color:$colorSecundario;
                        }
                    }
                }
            }
        }
    }
    div.copyright{
        p{
            margin-bottom:0 ;
            font-size: 0.8rem;
        }
    }
}
