header {
    box-shadow: 0px 4px 3px rgba(0,0,0,.5);
    nav.navbar.bg-primary{
        background-color: $colorPrimario !important;
        div.container-fluid{
            a.navbar-brand{
                img.img-logo{
                    width: 75%;
                    padding: 0 35px;
                    filter: grayscale(100%);
                    transition: all .6s ease-in-out ;
                    &:hover{
                        filter: none;
                    }
                }
            }
            .navbar-nav{
                .nav-item {
                    padding: 0 30px;
                    @include mobile{
                            padding: 15px 20px;
                            @include flexbox(row,nowrap,center,center);
                    }
                    @include tablet{
                        padding: 15px 20px;
                        @include flexbox(row,nowrap,center,center);
                }
                    a.nav-link{
                        color: white!important;
                        border-bottom: 3px solid $colorPrimario;
                        transition: all .6s ease-in-out ;
                        &:hover{
                            color: $colorSecundario !important;
                            border-bottom: 3px solid $colorSecundario;
                        }   
                    }
                }
            }

        }
    }
}