/*Sección presentación*/
#presentacion{
    padding-top: 80px;
    background-image: url(../images/presentacion.webp);
    @include BackImagen();
    .bg-black{
        --bs-bg-opacity: 0.7;
        img{
            width: 25%;
            @include mobile{
                width: 60%;
                }
            }
        div{
            h1{
                font-family: $fontTitulo;
                font-size: 3rem;
                @include mobile{
                font-size: 2rem;
                }
            }
            p{
                font-family: $fontParrafo;
                &::after{
                    content: ";)";
                    color: $colorSecundario;
                    padding: 8px;
                }
            }
        }
    }
}