/*Sección presentación*/
#presentacion{
    background-image: url(../images/presentacion.jpg);
    @include BackImagen();
    .bg-black{
        --bs-bg-opacity: 0.7;
        img{
            width: 25%;
            @include mobile{
                width: 60%;
                }
            }
        div{
            h1{
                font-family: $fontTitulo;
                font-size: 3rem;
                @include mobile{
                font-size: 2rem;
                }
            }
            p{
            font-family: $fontParrafo;
            }
        }
    }
}