/*Página sobre mi*/
section#sobre_mi{
    div.row{
        div.parrafo{
            p{
                q{
                    font-style: italic; 
                    padding: 30px;
                    font-size: 1.4rem;
                    &::before{
                        content: "“" ;
                        padding: 5px;
                        color: $colorSecundario;
                    }
                    &::after{
                    content: "”";
                    padding: 5px;
                    color: $colorSecundario;
                    }
                }
            }
        }
        div.PerfilRed{
            div.FotoPerfil{
                img{
                    width: 50%;
                }
            }
            ul{
                list-style: none;
                margin-bottom: 0;
                li{
                    a{
                        text-decoration: none;
                        color: $colorPrimario;
                        font-size: 2.5em;
                        transition: all .6s ease-in-out ;
                        &:hover{
                            text-decoration: none;
                            color: $colorSecundario;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
    div.row{
        div.competencias{
            margin: 30px 0;
            div.competencia_imagen{
                @include flexbox(row,nowrap,center,center);
                img{
                    width: 90%;
                    transition: all 1s ease-in-out ;
                    &:hover { 
                        transform: scale(1.1);
                    }
                }
            }
            p{
                padding: 10px 50px
            }
        }
    }
}